{% load static %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block content %}
<div class='auth-form'>
  <div class="w-100">
    <h2 class="login-text">Login</h2>
    <div class="flex-column d-flex align-items-center justify-content-between px-3">
      <form class="mb-3 d-flex flex-column">
        {% csrf_token %}
        {% crispy form %}
        <p id="loading-message"></p>
        <input class="btn btn-outline-primary m-2 mt-4 rounded-pill" id="login-button" type="button" value="Login">
        <a class="btn btn-outline-success m-2 rounded-pill" href="{% provider_login_url 'google' %}">Login With Google</a>
        <p>Belum punya akun? <a href='{% url "authentication:signup" %}'>Daftar di sini</a></p>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block userscript %}
<script>
  $(document).ready(() => {
    function login(username, password) {
      $.ajax({
        url: '{% url "authentication:loginapi" %}',
        type: 'post',
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        data: {'username': username, 'password': password},
        beforeSend: function() {
          $("#loading-message").html('Please wait...')
          $('#loading-message').css({'color': 'gray'})
        }
      }).done((response, textStatus, xhr) => { window.location.pathname = '/home/' }
      ).fail((response, textStatus, xhr) => {
          console.log(response.responseJSON.message)
          $("#loading-message").html(response.responseJSON.message)
          $('#loading-message').css({'color': 'red'})
        }
      )
    }
    $('#login-button').click(() => {
      $('#login-button').prop('disabled', true) 
      const username = $.trim($('#id_username').val()) 
      const password = $.trim($('#id_password').val()) 
      
      login(username, password) 
      $('#login-button').prop('disabled', false) 
    })
  }) 
</script>
{% endblock %}