{% load static %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block content %}
<div class='auth-form'>
  <div class="w-100">
    <h2 class="login-text">Sign Up</h2>
    <div class="flex-column d-flex align-items-center justify-content-between px-3">
      <form class="mb-3 d-flex flex-column">
        {% csrf_token %}
        {% crispy form %}
        <p id="loading-message"></p>
        <input class="btn btn-outline-primary m-2 mt-4 rounded-pill" id="signup-button" type="button" value="Sign Up">
        <a class="btn btn-outline-success m-2 rounded-pill" href="{% provider_login_url 'google' %}">Login With Google</a>
        <p>Sudah punya akun? <a href="{% url 'authentication:login' %}">Masuk dari sini</a></p>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block userscript %}
<script>
  $(document).ready(() => {
    function signup(username, password) {
      $.ajax({
        url: '{% url "authentication:signupapi" %}',
        type: 'post',
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        data: {'username': username, 'password1': password, 'password2': password},
        beforeSend: function() {
          $('#loading-message').empty()
          $("#loading-message").html('Please wait...')
          $('#loading-message').css({'color': 'gray'})
        }
      }).done((response, textStatus, xhr) => { window.location.pathname = '/home/' }
      ).fail((response, textStatus, xhr) => {
          $('#loading-message').empty()
          console.log(response.responseJSON.error)
          $('p.error_messages').remove();
          form_error = response.responseJSON.error
          for (const key in form_error) {
            console.log(form_error[key])
            if (form_error[key] === null) {
              continue;
            }
            form_error[key].forEach((error) => {
              var new_elem = document.createElement("p")
              new_elem.innerHTML = error
              $(new_elem).css({'margin': '0'})
              $(new_elem).addClass('error_messages')
              $(new_elem).css({'color': 'red'})
              $(`#div_id_${key}`).append(new_elem)
            });
          }
        }
      )
    }
    $('#signup-button').click(() => {
      $('#signup-button').prop('disabled', true) 
      const username = $('#id_username').val() 
      const password1 = $('#id_password1').val() 
      const password2 = $('#id_password2').val() 

      if (password1 !== password2) {
        $('#loading-message').empty()
        $('#loading-message').html('Password and confirmation don\'t match')
        $('#loading-message').css({'color': 'red'})
      }else {
        signup(username, password1)
      }

      $('#signup-button').prop('disabled', false) 
    })
  }) 
</script>
{% endblock %}