{% extends 'autentikasi/base.html' %}
{% load static %}
{% block content %}

{% include '../modal_notification.html' %} 

  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <div class="container">
    <div class="row g-0">
      <div style="color:pink;" colorclass="col-sm-6 col-md-8" id="header-text">
          <h1 id="header-h1" style="color:pink;" >Skin101</h1>
            <p id="header-paragraph">Saved by Skin 101, You’re Welcome <br> Made by The Skincredibles </p>
            <a class="btn" style="color: white; background-color: #fd5e14;"type="submit" id="body-link-row">Take your Quiz!</a>
          </div>
      <div class="col-6 col-md-4" id="header-image"><img src="images/in-liquid-slide-2.svg " alt=""></div>
    </div>
  </div>
  
{% endblock content %}