{% extends 'autentikasi/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <div class="card" style="width: 50rem; margin-top: 30px; margin-left: 220px; padding-left: 20px; padding-right: 20px; padding-bottom: 100px; padding-top: 20px">
    <form action="" method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
          <legend class="border-bottom mb-4" style="color: #404969; text-align: center; font-family: 'Bahnschrift SemiBold'; font-size: 30px;">Sign In Now</legend>
          {{ form|crispy }}
      </fieldset>
        <br>
      <div class="form-group" id="signup-button">
          <button class="btn " style="color: #D2C8C8">Sign In</button>
      </div>
      <div class="form-group">
          <small class="text-muted ml-3" >Don't have an account yet? <a href="{% url 'register' %}">Sign Up</a></small>
      </div>
    </form>
    </div>
    <br>
        <footer>
    <div class="footer-container shadow p-3" style="background-color: #7A9EAF; bottom: 0px; top: 10px">
      <p class="text-center footer-text" style="color: #D2C8C8; bottom: 0px;">
          Made by The Skincredibles <br>
          Copyright © 2022 RPL  University of Indonesia
      </p>
    </div>
    </footer>
{% endblock %}