<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Css Style -->
    <link rel="stylesheet" href="{% static 'autentikasi/css/main.css' %}" type="text/css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <!--Font Link-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@800&display=swap" rel="stylesheet">

  </head>
  <body id="bg" style="background-image: url({% static 'autentikasi/images/bg.png' %});">
  {% load static %}
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #7A9EAF;" id="main-navbar">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/in-logo-1.svg' %}" alt="" ></a>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/home" style="color: #D2C8C8;" id="a" >Home</a>
{#            </div>#}
{#            <div class="d-flex" id="authstyle">#}
              {% if user.is_authenticated %}
                  <ul>
                    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
                      <li><a href="#" class="btn" style="color: #D2C8C8; background-color: #404969;" type="submit" id="header-links"> Product Display </a></li>
                      <li><a href="#" class="btn" style="color: #D2C8C8; background-color: #404969; text-align: center" type="submit" id="header-links"> Review </a></li>
                      <li><i data-bs-toggle="modal" data-bs-target="#notificationModal" style="color: #D2C8C8; background-color: #404969; margin-top: 5px" id="header-links" class="fa fa-bell"></i></li>
                      <li><a href="{% url 'profile' %}" class="btn" style="color: #D2C8C8; background-color: #404969; "type="submit" id="header-links"> Profile </a></li>
                      <li><a href="{% url 'logout' %}" class="btn" style="color: #D2C8C8; background-color: #404969;"type="submit" id="header-links"> Logout </a></li>
                  </ul>
              {% else %}
                <a href="{% url 'register' %}" class="btn" style="color: #D2C8C8; background-color: #404969;"type="submit" id="header-links"> Create Account </a>
                <a href="{% url 'login' %}" class="btn" style="color: #D2C8C8; background-color: #404969; margin-left: 10px; "type="submit" id="header-links">Log In</a>
              {% endif %}

            </div>
          </div>
        </div>
    </nav>
  </body>

  <!-- Notification -->

{#  <button id="notification" data-bs-target="#notificationModal" data-bs-toggle="modal"  class="btn" style="color:white; background-color: #fd5e14;"type="submit" id="header-links"> Skin101 Notification </button>#}
      <!-- Modal Popup Announcement -->
    <form method="GET" class="modal fade" id="notificationModal" data-keyboard="false" data-backdrop="static" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" style="color: #404969; font-size: 24px">Notification</h4>
          </div>
          <div class="modal-body">
            <h5 style="text-align: center; color: #A3816A; font-size: 19px">Hi, {{user.username}}! </h5>
            <br>
            <h5 style="text-align: center; color: #404969; font-size: 24px" id="notificationTitle">{{form.title}}</h5>
            <p style="text-align: center; color: #404969; font-size: 19px" id="notificationMessage">{{form.messages}}</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-info" data-dismiss="modal" style="color: #D2C8C8; background-color:#404969;" id="header-links" >Close</button>
          </div>
        </div>
      </div>
    </form>
    <!-- end modal -->

<script type="text/javascript">
$(document).ready(function() {
  $(document).on("submit", "#notificationModal", function (e) {
    e.preventDefault();
    var serializedData = $(this).serialize();
    var response = "";
    $.getJSON({
      type: 'GET',
      url: "{% url 'notification-datas' %}",
      data: serializedData,
      success: function (data) {
        $("#notificationTitle").text(data[data.length-1]["fields"]["title"].toLocaleString("en-US"));
        $("#notificationMessage").text(data[data.length-1]["fields"]["messages"].toLocaleString("en-US"));
        console.log("enable ajax..")
        alert("Check new notification!")
      },
      error: function (response) {
        console.log(response)
      }
    });
  });
});

//   $.getJSON("/administrator/notification-datas",
//   function(data){
//     $('#notificationTitle').text(data[data.length-1]["fields"]["title"].toLocaleString("en-US"));
//     $('#notificationMessage').text(data[data.length-1]["fields"]["messages"].toLocaleString("en-US"));
//   });
// })
</script>
</html>