<title>Skincare Quiz!</title>



<th>Skincare Quiz!</th>

<form action="/quiz/" method="post">
    {% csrf_token %}


    <p>Apa produk yang kamu cari?
        {{ form.type }}
    </p>

    <p>Apa kulitmu berminyak?
        {{ form.oily }}
    </p>

    <p> Apa kulitmu mudah merah atau sering iritasi?
        {{ form.sensitive }}
    </p>

    <p> Apa kulitmu gampang berjerawat?
        {{ form.acne }}
    </p>

    <p> Apakah kulitmu sering kering atau bersisik?
        {{ form.dry }}
    </p>

    <input type="submit" value="Submit">

</form>