<title>Skincare Quiz!</title>

<th>Skincare Quiz!</th>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'card.css' %}">

<form action="/quiz/" method="post">
    {% csrf_token %}


    <div class="card" id ="1">Apa produk yang kamu cari?
        <!--img src="{% static 'static/sea.jpg'%}"-->
        {{ form.type }}
    </div>

    <div hidden id = "2" class="card">Apa kulitmu berminyak?
        {{ form.oily }}
    </div>

    <div hidden id = "3" class="card"> Apa kulitmu mudah merah atau sering iritasi?
        {{ form.sensitive }}
    </div>

    <div hidden id = "4" class="card"> Apa kulitmu gampang berjerawat?
        {{ form.acne }}
    </div>

    <div hidden id = "5" class="card"> Apakah kulitmu sering kering atau bersisik?
        {{ form.dry }}
    </div>

    <input hidden id = "6" type="submit" value="Submit" class="card">

</form>

<button onclick="prev()">Previous</button>
<button onclick="next()">Next</button>



<script>

    let ids = "1"

    function next() {
        var x = document.getElementById(ids);
        x.style.display = "none"
        
        switch(ids) {

            case "1":
                ids = "2"
                break;

            case "2":
                ids = "3"
                break;

            case "3":
                ids = "4"
                break;
    
            case "4":
                ids = "5"
                break;

            case "5":
                //stay, nanti tunjukkin submit aja, hilangin button
                ids = "6"
            default:
              break;
          }
        
        var y = document.getElementById(ids);
        y.style.display = "block"
      }


      function prev() {
        var x = document.getElementById(ids);
        x.style.display = "none"
        
        switch(ids) {

            case "1":
                ids = "1"
                break;

            case "2":
                ids = "1"
                break;

            case "3":
                ids = "2"
                break;
    
            case "4":
                ids = "3"
                break;

            case "5":
                //stay, nanti tunjukkin submit aja, hilangin button
                ids = "4"
                break;
            default:
                ids = "5"
                break;
          }
        
        var y = document.getElementById(ids);
        y.style.display = "block"
        
      }

</script>