.auth-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .login-text {
    text-align: center;
    font-weight: 900;
    color: #1396e6;
  }
  
  .auth-form label {
    color: #1561a7;
    font-weight: 900;
    margin-top: 1rem;
  }
  
  .auth-form .btn {
    width: 200px;
  }
  
  .btn img {
    align-self: flex-end;
    width: 25px;
    height: auto;
  }