{% extends "base_profile.html" %} {% load crispy_forms_tags %} {% load static %} 

{% block content %}
{#<div class="img" style="background-image: url(https://i.postimg.cc/G2Jkj5WH/11-1-1.png); height: 300px;background-size: cover;">#}
<div class="img" style="background-color: white; opacity: 0%; height: 300px;background-size: cover;"></div>
</div>
<div class="card">
  <div class="card-body" style=" width: 70%; margin: auto; margin-top: -220px;">
      <div class="wrapper">
        <div id= "avatar-box" style="text-align: center;">
          <h2 class="card-title-desc" style="text-align: center; color: #404969;font-weight: bolder;">{{ user.profile.name }}</h2>
          <h4 class="card-title" style="text-align: center; color: #A3816A; ">@{{ user.username }}</h4>
          <img id="id_avatar" src="{{ user.profile.avatar.url }}" class="card-img-top" alt="profile picture"  style="object-fit:cover; width: 250px; height: 250px; border-radius: 50%; margin: 0 auto -60px;display: block; margin: 0 auto;">
          <div style="text-align: center; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; background-color: #E6E7E5; margin-top:30px; margin-left:180px; margin-right:180px;">
            <!-- FORM -->
            <div class="row gx-5 justify-content-center" style="padding-left: 20px; padding-right: 20px; padding-bottom: 30px; padding-top: 30px>
              <div class="col-md-8">
                <!-- method -->
                <form method="POST" id="postform" enctype="multipart/form-data">
                  <div class="p-2">{{ profile_form.avatar|as_crispy_field }}</div>
                  {% csrf_token %}
                    <div class="form" id="the_post">
                    <!-- #1 -->
                      <div class="container">
                        <div class="d-flex justify-content-center">
                          <div class="order-1 p-2">{{ user_form|crispy }} </div>
                        </div>
                      </div>
                      <!-- #2 -->
                      <div class="container">
                        <div class="d-flex justify-content-center">
                          <divid class="order-1 p-2"> {{ profile_form.name|as_crispy_field }} </divid>
                          <div class="order-2 p-2"> {{ profile_form.email|as_crispy_field }} </div>
                        </div>
                      </div>
                      <br>
                  </div>
                  <div class="d-flex justify-content-center">
                    <div class="order-1 p-2">
                      <button class="btn btn-outline-primary" type="submit" id="btnsave" value="POST">Save Changes</button>
                    </div>
                    <div class="order-2 p-2">
                      <a href= "/profile" class="btn btn-outline-danger" type="reset" id="btncancel">Cancel</a>
                    </div>
                </div>
                </form>
              </div>
            </div>
      </div>
</div>
    <br>
    <footer>
    <div class="footer-container shadow p-3" style="background-color: #7A9EAF; bottom: 0px; top: 10px; margin-left: -206.5px; margin-right: -206.5px; margin-bottom: -17px">
      <p class="text-center footer-text" style="color: #D2C8C8; bottom: 0px;">
          Made by The Skincredibles <br>
          Copyright © 2022 RPL  University of Indonesia
      </p>
    </div>
    </footer>
{% endblock content %}
