

  input[type=submit] {
    width: 100%;
    background-color: #80b4d3;
    color: white;
    padding: 14px 20px;
    margin: 22px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  div {
    margin: 15px;
    border-radius: 5px;
    padding: 20px;
  }

  .card {
    /*ima: url("sea.jpg");*/
    font-family: "Georgia";
    color: #83d2ff;

    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.644);
    /*align-items: center;*/
    margin: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
  }
 
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  body {
    background-image: url("bg1.jpg");
    background-color: #cccccc;
   }

   * {
    margin:0; 
    padding:0;
}
