<div class="container">
    <h1>Review Detail</h1>
  
    <div>
      <a href="{% url 'review' %}" class="btn btn-success">Back</a>
    </div>
  
    <br>
  
    <div>
      <h2>{{ review.nama_produk }}</h2>
      <h2>{{ review.username }}</h2>
      <h2>{{ review.tipe }}</h2>
  
  
      <p>
          {{ review.isi_review }}
      </p>
      <form action="{% url 'like_review' review.id %}" method="POST">
        {% csrf_token %}
        <button type="submit", name="review_id", value="{{ review.id }}", class="btn btn-primary btn-sm">Like</button> - {{ total_likes }} Likes
        <input class="btn btn-sm btn-light btn-outline-warning" type="submit" name="Submit">
    </form>
    </div>
  </div>