{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">


<form action="" method="post">
  {% csrf_token %}

<nav class="product-filter">
  <h1>Skincare Products</h1>
  <div class="col-container"> 
    {% for error in  form.non_field_errors %}
    <div>{{error}}</div>
    {% endfor %}
    <div class="sort">

      
      <div class="collection-sort">
     
        <label>Filter by Tags:</label>
        <div class="checklist-box">
    
          
            {{form.isOily}}
            <label for="{{ form.isOily.id_for_label }}">{{ form.isOily.label}}</label><br>
            {{form.isSensitive}}
            <label for="{{ form.isOily.id_for_label }}">{{ form.isSensitive.label}}</label><br>
            {{form.isAcne}}
            <label for="{{ form.isOily.id_for_label }}">{{ form.isAcne.label}}</label><br>
            {{form.isDry}}
            <label for="{{ form.isOily.id_for_label }}">{{ form.isDry.label}}</label><br>
            {{form.isNormal}}
            <label for="{{ form.isOily.id_for_label }}">{{ form.isNormal.label}}</label><br>
           

          
        

        </div>
    
      </div>
      
      <div class="collection-sort">
        <label>Sort by:</label>
        {{form.type}}
      </div>

    </div>
    <button class="fill" type="submit">Filter</button>
  </div>

  
</nav>


</form>




<section class="products">

   
    {% if products %}

      {% for product in products %}
      
      <div class="product-card">
        <div class="product-image">
          <img src="{% static 'skincare.jpg' %}" alt="My image">
        </div>
        <div class="product-info">
          <p>{{product.name}}</p>  
          <p>{{product.type}}</p>  
          <p>{{product.price}}</p> 
        </div>
      </div>
     
      {% endfor %}

    {% endif %}

    {% if not products %}

    <p>Sorry, there is no filtering results</p>

    {% endif %}
  
 

  <!-- more products -->

</section>

